* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #d5e1ef;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.rectangle {
  position: relative;
  width: 320px;
  height: 497px;
  background-color: white;
  border-radius: 10px;
}
.qr {
  position: absolute;
  width: 288px;
  height: 288px;
  top: 15px;
  left: 15px;
}
.qr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.typography {
  position: absolute;
  width: 288px;
  height: 129px;
  bottom: 10%;
  left: 5%;
}
.typography h1 {
  font-size: larger;
  width: 288px;
  height: 56px;
  object-fit: cover;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #1f314f;
}
.typography p {
  font-size: 15px;
  width: 288px;
  height: 57px;
  object-fit: cover;
  text-align: center;
  color: #7d889e;
}
