* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #d5e1ef;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.rectangle {
  background-color: #ffff;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: auto;
}

.qr img {
  max-width: 18rem;
  margin: 1rem;
  border-radius: 10px;
}
.typography {
  max-width: 18rem;
  text-align: center;
}
h1 {
  color: #1f314f;
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

p {
  font-size: 0.938rem;
  color: #7d889e;
  margin-bottom: 2.5rem;
}
.attribution {
  bottom: 0;
  margin-bottom: 1rem;
}
